body {
    background-color: #EEE;
    color: #222;
    font-family: serif;
}

h1 {
    font-family: sans-serif;
}

h1, h2, h3 {
    color: #000;
}


.aside a {
    color: inherit;
    text-decoration: none;
}

.aside a:hover {
    text-decoration: underline;
}

.aside ul {
    list-style-type: none;
    padding-left: 0;
}


#header_avatar {
    border-radius: 5%;
    display: block;
    width: 100px;
    height: 100px;
}

#header_sitename {
    color: #000;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
}


main {
    background-color: #E0E0E0;
    border-radius: 10px;
}

main a {
    color: #444;
    text-decoration: underline;
}

main {
    padding: 20px;
}

main > header > :first-child {
    margin-top: 0;
}

main > article > :last-child {
    margin-bottom: 0;
}


#footer {
    color: #888;
}


/* must be after "main a" */
h1 a,
h2 a,
h3 a {
    color: #000;
}


.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

pre {
    overflow: auto;
}

code, pre {
    background-color: #CCC;
    border-radius: 3px;
}

blockquote {
    border-left: 5px solid #CCC;
    margin-left: 5px;
    padding-left: 10px;
}


@media only screen and (max-width: 819px) {
    body {
        margin: 0 10px;
    }

    #header {
        margin-top: 10px;
    }

    #header_avatar {
        float: left;
        margin: 0 5px 5px 0;
    }

    #header_sitename {
        font-size: 18px;
    }

    #header_nav li {
        display: inline-block;
        margin-right: 5px;
    }

    #footer {
        margin-bottom: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 820px) and (max-width: 1199px) {
    body {
        font-size: 16px;
        line-height: 1.6;
        margin: 0 auto;
        max-width: 800px;
    }

    #header {
        margin-top: 20px;
    }

    #header_sitename {
        font-size: 20px;
    }

    #header_nav li {
        display: inline-block;
        margin-right: 5px;
    }

    #footer {
        margin-bottom: 20px;
    }

    code, pre {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 16px;
        line-height: 1.6;
        margin: 0 auto;
        max-width: 800px;
    }

    .aside {
        clear: left;
        float: left;
        margin-left: -180px;
        width: 160px;
    }

    #header {
        margin-top: 40px;
    }

    #header_sitename {
        font-size: 20px;
    }

    #main {
        float: right;
        margin: 40px 0;
        width: 100%;
    }

    #footer {
        font-size: 14px;
        margin-bottom: 40px;
    }

    code, pre {
        font-size: 14px;
    }
}
