<ul>
<li><a href="{{ SITEURL }}/{{ ARCHIVES_SAVE_AS }}">Archives</a></li>
<li><a href="{{ SITEURL }}/{{ CATEGORIES_SAVE_AS }}">Categories</a></li>
<li><a href="{{ SITEURL }}/{{ TAGS_SAVE_AS }}">Tags</a></li>
</ul>
