{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block content %}
<header><h1>Archives for {{ SITENAME }}</h1></header>
<dl>
{% for article in dates %}
<dt>{{ article.locale_date }}</dt>
<dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
{% endfor %}
</dl>
{% endblock %}

{% block footer %}
{% include 'snippets/blog_footer.html' %}

{{ super() }}
{% endblock %}
