{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %}

{% block head %}
{{ super() }}
{% import 'snippets/translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
{{ translations.entry_hreflang(article) }}
{% endif %}
{% if article.description %}
<meta name="description" content="{{article.description}}">
{% endif %}
{% for tag in article.tags %}
<meta name="tags" content="{{tag}}">
{% endfor %}
{% endblock %}

{% block content %}
<header>
<h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
{% import 'snippets/translations.html' as translations with context %}
{{ translations.translations_for(article) }}
</header>
<article>
{{ article.content }}
</article>
{% endblock %}

{% block footer %}
<p>
Published: <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time><br>
{% if article.modified %}
Modified: <time datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time><br>
{% endif %}
{% if article.category %}
Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a><br>
{% endif %}
{% if article.tags %}
Tags:
{% for tag in article.tags %}
<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
{% endfor %}
{% endif %}
</p>
{% include 'snippets/blog_footer.html' %}

{{ super() }}
{% endblock %}
