{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock %}

{% block content %}
<header><h1>Authors on {{ SITENAME }}</h1></header>
<ul>
{% for author, articles in authors|sort %}
<li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a> ({{ articles|count }})</li>
{% endfor %}
</ul>
{% endblock %}

{% block footer %}
{% include 'snippets/blog_footer.html' %}

{{ super() }}
{% endblock %}
