<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">

<head>
{% block head %}
<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
<meta charset="utf-8">
<meta name="generator" content="Pelican">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css">
{% if AVATAR %}
<link rel="icon" type="image/png" sizes="100x100" href="{{ SITEURL }}/static/{{ AVATAR }}">
{% endif %}
{% if FEED_ALL_ATOM %}
<link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed">
{% endif %}
{% if FEED_ALL_RSS %}
<link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed">
{% endif %}
{% if FEED_ATOM %}
<link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
{% endif %}
{% if FEED_RSS %}
<link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
{% endif %}
{% if CATEGORY_FEED_ATOM and category %}
<link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Category {{ category.slug }} Atom Feed">
{% endif %}
{% if CATEGORY_FEED_RSS and category %}
<link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Category {{ category.slug }}  Feed">
{% endif %}
{% if TAG_FEED_ATOM and tag %}
<link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tag {{ tag.slug }} Atom Feed">
{% endif %}
{% if TAG_FEED_RSS and tag %}
<link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tag {{ tag.slug }} RSS Feed">
{% endif %}
{% if MASTODON %}
<link rel="me" href="{{ MASTODON }}">
{% endif %}
{% endblock %}
</head>

<body>

<header id="header" class="aside clearfix">
{% if AVATAR %}
<a href="{{ SITEURL }}/index.html"><img id="header_avatar" src="{{ SITEURL }}/static/{{ AVATAR }}" alt="avatar"></a>
{% endif %}
<a id="header_sitename" href="{{ SITEURL }}/index.html">{{ SITENAME }}</a>
<nav id="header_nav"><ul>
{% for title, link in MENUITEMS %}
<li><a href="{{ link }}">{{ title }}</a></li>
{% endfor %}
{% for title, link in LOCAL_MENUITEMS %}
<li><a href="{{ SITEURL }}/{{ link }}">{{ title }}</a></li>
{% endfor %}
{% if DISPLAY_PAGES_ON_MENU %}
{% for p in pages %}
<li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
{% endfor %}
{% endif %}
</ul></nav>
</header>

<div id="main"><main>
{% block content %}
{% endblock %}
</main></div>

<footer id="footer" class="aside">
{% block footer %}
{% if SITEURL[0] != '.' %}
{% set file_url = (SITEURL ~ '/' ~ output_file) | urlencode %}
{% set atom_url = (SITEURL ~ '/' ~ FEED_ATOM) | urlencode %}
<ul>
<li><a href="https://validator.w3.org/nu/?doc={{ file_url }}">HTML Validator</a></li>
<li><a href="https://jigsaw.w3.org/css-validator/validator?uri={{ file_url }}">CSS Validator</a></li>
<li><a href="https://validator.w3.org/feed/check.cgi?url={{ atom_url }}">Feed Validator</a></li>
<li><a href="https://www.ssllabs.com/ssltest/analyze.html?d={{ SITEDOMAIN }}">SSL Report</a></li>
<li><a href="https://securityheaders.com/?q={{ file_url }}">Security Headers</a></li>
<li><a href="https://observatory.mozilla.org/analyze/{{ SITEDOMAIN }}">Mozilla observatory</a></li>
</ul>
{% endif %}
{% endblock %}
</footer>

</body>

</html>
