{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Categories{% endblock %}

{% block content %}
<header><h1>Categories on {{ SITENAME }}</h1></header>
<ul>
{% for category, articles in categories|sort %}
<li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})</li>
{% endfor %}
</ul>
{% endblock %}

{% block footer %}
{% include 'snippets/blog_footer.html' %}

{{ super() }}
{% endblock %}
