{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Blog{% endblock %}

{% block content %}
<header>
{% block content_title %}
<h1>All articles</h1>
{% endblock %}
</header>
<ol>
{% for article in articles_page.object_list %}
<li><section>
<h2><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
<div>
{{ article.summary }}
</div>
<time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
</section></li>
{% endfor %}
</ol>
{% if articles_page.has_other_pages() %}
{% include 'snippets/pagination.html' %}
{% endif %}
{% endblock %}

{% block footer %}
{% include 'snippets/blog_footer.html' %}

{{ super() }}
{% endblock %}
