{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{% endblock %}

{% block head %}
{{ super() }}
{% import 'snippets/translations.html' as translations with context %}
{% if translations.entry_hreflang(page) %}
{{ translations.entry_hreflang(page) }}
{% endif %}
{% endblock %}

{% block content %}
<header>
<h1>{{ page.title }}</h1>
{% import 'snippets/translations.html' as translations with context %}
{{ translations.translations_for(page) }}
</header>
<article>
{{ page.content }}
</article>
{% endblock %}

{% block footer %}
{% if page.modified %}
<p>Last updated: {{ page.locale_modified }}</p>
{% endif %}
{{ super() }}
{% endblock %}
