{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}
<header><h1>Tags for {{ SITENAME }}</h1></header>
<ul>
{% for tag, articles in tags|sort %}
<li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
{% endfor %}
</ul>
{% endblock %}

{% block footer %}
{% include 'snippets/blog_footer.html' %}

{{ super() }}
{% endblock %}
